<!--https://www.adsimple.at/datenschutztext/datenschutztext-1466998/-->
<div class="margin-left-10 margin-right-10">
  <h1 class="display-3 adsimple-111466998">Datenschutzerklärung</h1>
  <h2>Inhaltsverzeichnis</h2>
  <ul>
    <li>
      <a href="#datenschutz">Datenschutz</a>
    </li>
    <li>
      <a href="#automatische-datenspeicherung">Automatische Datenspeicherung</a>
    </li>
    <li>
      <a href="#cookies">Cookies</a>
    </li>
    <li>
      <a href="#speicherung-persoenlicher-daten">Speicherung persönlicher Daten</a>
    </li>
    <li>
      <a href="#rechte-dsgvo">Rechte laut Datenschutzgrundverordnung</a>
    </li>
    <li>
      <a href="#auswertung-des-besucherverhaltens">Auswertung des Besucherverhaltens</a>
    </li>
    <li>
      <a href="#tls-verschluesselung-https">TLS-Verschlüsselung mit https</a>
    </li>
    <li>
      <a href="#google-fonts-datenschutzerklaerung">Google Fonts Datenschutzerklärung</a>
    </li>
    <li>
      <a href="#cloudflare-datenschutzerklaerung">Cloudflare Datenschutzerklärung</a>
    </li>
    <li>
      <a href="#jquery-cdn-datenschutzerklaerung">jQuery CDN Datenschutzerklärung</a>
    </li>
    <li>
      <a href="#bootstrapcdn-datenschutzerklaerung">BootstrapCDN Datenschutzerklärung</a>
    </li>
  </ul>
  <h2 id="datenschutz" class="adsimple-111466998">Datenschutz</h2>
  <p>Wir haben diese Datenschutzerklärung (Fassung 08.11.2020-111466998) verfasst, um Ihnen gemäß der Vorgaben der
    <a class="adsimple-111466998" href="https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679&tid=111466998" target="_blank" rel="noopener noreferrer">Datenschutz-Grundverordnung
      (EU) 2016/679</a> zu erklären, welche Informationen wir sammeln, wie wir Daten verwenden und welche
    Entscheidungsmöglichkeiten Sie als Besucher dieser Webseite haben.</p>
  <p>Leider liegt es in der Natur der Sache, dass diese Erklärungen sehr technisch klingen, wir haben uns bei der
    Erstellung jedoch bemüht die wichtigsten Dinge so einfach und klar wie möglich zu beschreiben.</p>
  <h2 id="automatische-datenspeicherung" class="adsimple-111466998">Automatische Datenspeicherung</h2>
  <p>Wenn Sie heutzutage Webseiten besuchen, werden gewisse Informationen automatisch erstellt und gespeichert, so auch
    auf dieser Webseite.</p>
  <p>Wenn Sie unsere Webseite so wie jetzt gerade besuchen, speichert unser Webserver (Computer auf dem diese Webseite
    gespeichert ist) automatisch Daten wie</p>
  <ul class="adsimple-111466998">
    <li class="adsimple-111466998">die Adresse (URL) der aufgerufenen Webseite</li>
    <li class="adsimple-111466998">Browser und Browserversion</li>
    <li class="adsimple-111466998">das verwendete Betriebssystem</li>
    <li class="adsimple-111466998">die Adresse (URL) der zuvor besuchten Seite (Referrer URL)</li>
    <li class="adsimple-111466998">den Hostname und die IP-Adresse des Geräts von welchem aus zugegriffen wird</li>
    <li class="adsimple-111466998">Datum und Uhrzeit</li>
  </ul>
  <p>in Dateien (Webserver-Logfiles).</p>
  <p>In der Regel werden Webserver-Logfiles zwei Wochen gespeichert und danach automatisch gelöscht. Wir geben diese
    Daten nicht weiter, können jedoch nicht ausschließen, dass diese Daten beim Vorliegen von rechtswidrigem Verhalten
    eingesehen werden.</p>
  <h2 id="cookies" class="adsimple-111466998">Cookies</h2>
  <p>Unsere Webseite verwendet HTTP-Cookies, um nutzerspezifische Daten zu speichern.<br/>
    Im Folgenden erklären wir, was Cookies sind und warum Sie genutzt werden, damit Sie die folgende
    Datenschutzerklärung besser verstehen.</p>
  <h3 class="adsimple-111466998">Was genau sind Cookies?</h3>
  <p>Immer wenn Sie durch das Internet surfen, verwenden Sie einen Browser. Bekannte Browser sind beispielsweise Chrome,
    Safari, Firefox, Internet Explorer und Microsoft Edge. Die meisten Webseiten speichern kleine Text-Dateien in Ihrem
    Browser. Diese Dateien nennt man Cookies.</p>
  <p>Eines ist nicht von der Hand zu weisen: Cookies sind echt nützliche Helferlein. Fast alle Webseiten
    verwenden Cookies. Genauer gesprochen sind es HTTP-Cookies, da es auch noch andere Cookies für andere
    Anwendungsbereiche gibt. HTTP-Cookies sind kleine Dateien, die von unserer Webseite auf Ihrem Computer gespeichert
    werden. Diese Cookie-Dateien werden automatisch im Cookie-Ordner, quasi dem “Hirn” Ihres Browsers, untergebracht.
    Ein Cookie besteht aus einem Namen und einem Wert. Bei der Definition eines Cookies müssen zusätzlich ein oder
    mehrere Attribute angegeben werden.</p>
  <p>Cookies speichern gewisse Nutzerdaten von Ihnen, wie beispielsweise Sprache oder persönliche Seiteneinstellungen.
    Wenn Sie unsere Seite wieder aufrufen, übermittelt Ihr Browser die „userbezogenen“ Informationen an unsere Seite
    zurück. Dank der Cookies weiß unsere Webseite, wer Sie sind und bietet Ihnen die Einstellung, die Sie gewohnt sind.
    In einigen Browsern hat jedes Cookie eine eigene Datei, in anderen wie beispielsweise Firefox sind alle Cookies in
    einer einzigen Datei gespeichert.</p>
  <p>Es gibt sowohl Erstanbieter Cookies als auch Drittanbieter-Cookies. Erstanbieter-Cookies werden direkt von unserer
    Seite erstellt, Drittanbieter-Cookies werden von Partner-Webseiten (z.B. Google Analytics) erstellt. Jedes Cookie
    ist individuell zu bewerten, da jedes Cookie andere Daten speichert. Auch die Ablaufzeit eines Cookies variiert von
    ein paar Minuten bis hin zu ein paar Jahren. Cookies sind keine Software-Programme und enthalten keine Viren,
    Trojaner oder andere „Schädlinge“. Cookies können auch nicht auf Informationen Ihres PCs zugreifen.</p>
  <p>So können zum Beispiel Cookie-Daten aussehen:</p>
  <p>
    <strong class="adsimple-111466998">Name:</strong> _ga<br/>
    <strong class="adsimple-111466998">Wert:</strong> GA1.2.1326744211.152111466998-9<br/>
    <strong class="adsimple-111466998">Verwendungszweck:</strong> Unterscheidung der Webseitenbesucher<br/>
    <strong class="adsimple-111466998">Ablaufdatum:</strong> nach 2 Jahren</p>
  <p>Diese Mindestgrößen sollte ein Browser unterstützen können:</p>
  <ul class="adsimple-111466998">
    <li class="adsimple-111466998">Mindestens 4096 Bytes pro Cookie</li>
    <li class="adsimple-111466998">Mindestens 50 Cookies pro Domain</li>
    <li class="adsimple-111466998">Mindestens 3000 Cookies insgesamt</li>
  </ul>
  <h3 class="adsimple-111466998">Welche Arten von Cookies gibt es?</h3>
  <p>Die Frage welche Cookies wir im Speziellen verwenden, hängt von den verwendeten Diensten ab und wird in den
    folgenden Abschnitten der Datenschutzerklärung geklärt. An dieser Stelle möchten wir kurz auf die verschiedenen
    Arten von HTTP-Cookies eingehen.</p>
  <p>Man kann 4 Arten von Cookies unterscheiden:</p>
  <p>
    <strong class="adsimple-111466998">Unerlässliche Cookies<br/>
    </strong>Diese Cookies sind nötig, um grundlegende Funktionen der Webseite sicherzustellen. Zum Beispiel braucht es
    diese Cookies, wenn ein User ein Produkt in den Warenkorb legt, dann auf anderen Seiten weitersurft und später erst
    zur Kasse geht. Durch diese Cookies wird der Warenkorb nicht gelöscht, selbst wenn der User sein Browserfenster
    schließt.</p>
  <p>
    <strong class="adsimple-111466998">Zweckmäßige Cookies<br/>
    </strong>Diese Cookies sammeln Infos über das Userverhalten und ob der User etwaige Fehlermeldungen bekommt. Zudem
    werden mithilfe dieser Cookies auch die Ladezeit und das Verhalten der Webseite bei verschiedenen Browsern gemessen.
  </p>
  <p>
    <strong class="adsimple-111466998">Zielorientierte Cookies<br/>
    </strong>Diese Cookies sorgen für eine bessere Nutzerfreundlichkeit. Beispielsweise werden eingegebene Standorte,
    Schriftgrößen oder Formulardaten gespeichert.</p>
  <p>
    <strong class="adsimple-111466998">Werbe-Cookies<br/>
    </strong>Diese Cookies werden auch Targeting-Cookies genannt. Sie dienen dazu dem User individuell angepasste
    Werbung zu liefern. Das kann sehr praktisch, aber auch sehr nervig sein.</p>
  <p>Üblicherweise werden Sie beim erstmaligen Besuch einer Webseite gefragt, welche dieser Cookiearten Sie zulassen
    möchten. Und natürlich wird diese Entscheidung auch in einem Cookie gespeichert.</p>
  <h3 class="adsimple-111466998">Wie kann ich Cookies löschen?</h3>
  <p>Wie und ob Sie Cookies verwenden wollen, entscheiden Sie selbst. Unabhängig von welchem Service oder welcher
    Webseite die Cookies stammen, haben Sie immer die Möglichkeit Cookies zu löschen, zu deaktivieren oder nur teilweise
    zuzulassen. Zum Beispiel können Sie Cookies von Drittanbietern blockieren, aber alle anderen Cookies zulassen.</p>
  <p>Wenn Sie feststellen möchten, welche Cookies in Ihrem Browser gespeichert wurden, wenn Sie Cookie-Einstellungen
    ändern oder löschen wollen, können Sie dies in Ihren Browser-Einstellungen finden:</p>
  <p>
    <a class="adsimple-111466998" href="https://support.google.com/chrome/answer/95647?tid=111466998" target="_blank" rel="noopener noreferrer">Chrome:
      Cookies in Chrome löschen, aktivieren und verwalten</a>
  </p>
  <p>
    <a class="adsimple-111466998" href="https://support.apple.com/de-at/guide/safari/sfri11471/mac?tid=111466998" target="_blank" rel="noopener noreferrer">Safari:
      Verwalten von Cookies und Websitedaten mit Safari</a>
  </p>
  <p>
    <a class="adsimple-111466998" href="https://support.mozilla.org/de/kb/cookies-und-website-daten-in-firefox-loschen?tid=111466998" target="_blank" rel="noopener noreferrer">Firefox:
      Cookies löschen, um Daten zu entfernen, die Websites auf Ihrem Computer abgelegt haben</a>
  </p>
  <p>
    <a class="adsimple-111466998" href="https://support.microsoft.com/de-at/help/17442/windows-internet-explorer-delete-manage-cookies?tid=111466998" target="_blank" rel="noopener noreferrer">Internet
      Explorer: Löschen und Verwalten von Cookies</a>
  </p>
  <p>
    <a class="adsimple-111466998" href="https://support.microsoft.com/de-at/help/4027947/windows-delete-cookies?tid=111466998" target="_blank" rel="noopener noreferrer">Microsoft
      Edge: Löschen und Verwalten von Cookies</a>
  </p>
  <p>Falls Sie grundsätzlich keine Cookies haben wollen, können Sie Ihren Browser so einrichten, dass er Sie immer
    informiert, wenn ein Cookie gesetzt werden soll. So können Sie bei jedem einzelnen Cookie entscheiden, ob Sie das
    Cookie erlauben oder nicht. Die Vorgangsweise ist je nach Browser verschieden. Am besten Sie suchen die Anleitung in
    Google mit dem Suchbegriff “Cookies löschen Chrome” oder “Cookies deaktivieren Chrome” im Falle eines Chrome
    Browsers.</p>
  <h3 class="adsimple-111466998">Wie sieht es mit meinem Datenschutz aus?</h3>
  <p>Seit 2009 gibt es die sogenannten „Cookie-Richtlinien“. Darin ist festgehalten, dass das Speichern von Cookies eine
    Einwilligung von Ihnen verlangt. Innerhalb der EU-Länder gibt es allerdings noch sehr unterschiedliche Reaktionen
    auf diese Richtlinien. In Österreich erfolgte aber die Umsetzung dieser Richtlinie in § 96 Abs. 3 des
    Telekommunikationsgesetzes (TKG).</p>
  <p>Wenn Sie mehr über Cookies wissen möchten und technische Dokumentationen nicht scheuen, empfehlen wir
    <a class="adsimple-111466998" href="https://tools.ietf.org/html/rfc6265" target="_blank" rel="nofollow noopener noreferrer">https://tools.ietf.org/html/rfc6265</a>,
    dem Request for Comments der Internet Engineering Task Force (IETF) namens “HTTP State Management Mechanism”.</p>
  <h2 id="speicherung-persoenlicher-daten" class="adsimple-111466998">Speicherung persönlicher Daten</h2>
  <p>Persönliche Daten, die Sie uns auf dieser Website elektronisch übermitteln, wie zum Beispiel Name, E-Mail-Adresse,
    Adresse oder andere persönlichen Angaben im Rahmen der Übermittlung eines Formulars oder Kommentaren im Blog, werden
    von uns gemeinsam mit dem Zeitpunkt und der IP-Adresse nur zum jeweils angegebenen Zweck verwendet, sicher verwahrt
    und nicht an Dritte weitergegeben.</p>
  <p>Wir nutzen Ihre persönlichen Daten somit nur für die Kommunikation mit jenen Besuchern, die Kontakt ausdrücklich
    wünschen und für die Abwicklung der auf dieser Webseite angebotenen Dienstleistungen und Produkte. Wir geben Ihre
    persönlichen Daten ohne Zustimmung nicht weiter, können jedoch nicht ausschließen, dass diese Daten beim Vorliegen
    von rechtswidrigem Verhalten eingesehen werden.</p>
  <p>Wenn Sie uns persönliche Daten per E-Mail schicken – somit abseits dieser Webseite – können wir keine sichere
    Übertragung und den Schutz Ihrer Daten garantieren. Wir empfehlen Ihnen, vertrauliche Daten niemals unverschlüsselt
    per E-Mail zu übermitteln.</p>
  <h2 id="rechte-dsgvo" class="adsimple-111466998">Rechte laut Datenschutzgrundverordnung</h2>
  <p>Ihnen stehen laut den Bestimmungen der DSGVO und des österreichischen
    <a class="adsimple-111466998" href="https://www.ris.bka.gv.at/GeltendeFassung.wxe?Abfrage=Bundesnormen&Gesetzesnummer=10001597&tid=111466998" target="_blank" rel="noopener noreferrer">Datenschutzgesetzes
      (DSG)</a> grundsätzlich die folgende Rechte zu:</p>
  <ul class="adsimple-111466998">
    <li class="adsimple-111466998">Recht auf Berichtigung (Artikel 16 DSGVO)</li>
    <li class="adsimple-111466998">Recht auf Löschung („Recht auf Vergessenwerden“) (Artikel 17 DSGVO)</li>
    <li class="adsimple-111466998">Recht auf Einschränkung der Verarbeitung (Artikel 18 DSGVO)</li>
    <li class="adsimple-111466998">Recht auf Benachrichtigung – Mitteilungspflicht im Zusammenhang mit der Berichtigung
      oder Löschung personenbezogener Daten oder der Einschränkung der Verarbeitung (Artikel 19 DSGVO)
    </li>
    <li class="adsimple-111466998">Recht auf Datenübertragbarkeit (Artikel 20 DSGVO)</li>
    <li class="adsimple-111466998">Widerspruchsrecht (Artikel 21 DSGVO)</li>
    <li class="adsimple-111466998">Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung —
      einschließlich Profiling — beruhenden Entscheidung unterworfen zu werden (Artikel 22 DSGVO)
    </li>
  </ul>
  <p>Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre
    datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich bei der Aufsichtsbehörde
    beschweren, welche in Österreich die Datenschutzbehörde ist, deren Webseite Sie unter
    <a class="adsimple-111466998" href="https://www.dsb.gv.at/?tid=111466998">https://www.dsb.gv.at/</a> finden.</p>
  <h2 id="auswertung-des-besucherverhaltens" class="adsimple-111466998">Auswertung des Besucherverhaltens</h2>
  <p>In der folgenden Datenschutzerklärung informieren wir Sie darüber, ob und wie wir Daten Ihres Besuchs dieser
    Website auswerten. Die Auswertung der gesammelten Daten erfolgt in der Regel anonym und wir können von Ihrem
    Verhalten auf dieser Website nicht auf Ihre Person schließen.</p>
  <p>Mehr über Möglichkeiten dieser Auswertung der Besuchsdaten zu widersprechen erfahren Sie in der folgenden
    Datenschutzerklärung.</p>
  <h2 id="tls-verschluesselung-https" class="adsimple-111466998">TLS-Verschlüsselung mit https</h2>
  <p>Wir verwenden https um Daten abhörsicher im Internet zu übertragen (Datenschutz durch Technikgestaltung
    <a class="adsimple-111466998" href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679&from=DE&tid=111466998" target="_blank" rel="noopener noreferrer">Artikel
      25 Absatz 1 DSGVO</a>). Durch den Einsatz von TLS (Transport Layer Security), einem Verschlüsselungsprotokoll zur
    sicheren Datenübertragung im Internet können wir den Schutz vertraulicher Daten sicherstellen. Sie erkennen die
    Benutzung dieser Absicherung der Datenübertragung am kleinen Schlosssymbol links oben im Browser und der Verwendung
    des Schemas https (anstatt http) als Teil unserer Internetadresse.</p>
  <h2 id="google-fonts-datenschutzerklaerung" class="adsimple-111466998">Google Fonts Datenschutzerklärung</h2>
  <p>Auf unserer Website verwenden wir Google Fonts. Das sind die “Google-Schriften” der Firma Google Inc. Für den
    europäischen Raum ist das Unternehmen Google Ireland Limited (Gordon House, Barrow Street Dublin 4, Irland) für alle
    Google-Dienste verantwortlich.</p>
  <p>Für die Verwendung von Google-Schriftarten müssen Sie sich nicht anmelden bzw. ein Passwort hinterlegen. Weiters
    werden auch keine Cookies in Ihrem Browser gespeichert. Die Dateien (CSS, Schriftarten/Fonts) werden über die
    Google-Domains fonts.googleapis.com und fonts.gstatic.com angefordert. Laut Google sind die Anfragen nach CSS und
    Schriften vollkommen getrennt von allen anderen Google-Diensten. Wenn Sie ein Google-Konto haben, brauchen Sie keine
    Sorge haben, dass Ihre Google-Kontodaten, während der Verwendung von Google Fonts, an Google übermittelt werden.
    Google erfasst die Nutzung von CSS (Cascading Style Sheets) und der verwendeten Schriftarten und speichert diese
    Daten sicher. Wie die Datenspeicherung genau aussieht, werden wir uns noch im Detail ansehen.</p>
  <h3 class="adsimple-111466998">Was sind Google Fonts?</h3>
  <p>Google Fonts (früher Google Web Fonts) ist ein Verzeichnis mit über 800 Schriftarten, die
    <a class="adsimple-111466998" href="https://de.wikipedia.org/wiki/Google_LLC?tid=111466998">Google</a> Ihren Nutzern
    kostenlos zu Verfügung stellen.</p>
  <p>Viele dieser Schriftarten sind unter der SIL Open Font License veröffentlicht, während andere unter
    der Apache-Lizenz veröffentlicht wurden. Beides sind freie Software-Lizenzen.</p>
  <h3 class="adsimple-111466998">Warum verwenden wir Google Fonts auf unserer Webseite?</h3>
  <p>Mit Google Fonts können wir auf der eigenen Webseite Schriften nutzen, und müssen sie nicht auf unserem eigenen
    Server hochladen. Google Fonts ist ein wichtiger Baustein, um die Qualität unserer Webseite hoch zu halten. Alle
    Google-Schriften sind automatisch für das Web optimiert und dies spart Datenvolumen und ist speziell für die
    Verwendung bei mobilen Endgeräten ein großer Vorteil. Wenn Sie unsere Seite besuchen, sorgt die niedrige Dateigröße
    für eine schnelle Ladezeit. Des Weiteren sind Google Fonts sichere Web Fonts. Unterschiedliche Bildsynthese-Systeme
    (Rendering) in verschiedenen Browsern, Betriebssystemen und mobilen Endgeräten können zu Fehlern führen. Solche
    Fehler können teilweise Texte bzw. ganze Webseiten optisch verzerren. Dank des schnellen Content Delivery Network
    (CDN) gibt es mit Google Fonts keine plattformübergreifenden Probleme. Google Fonts unterstützt alle gängigen
    Browser (Google Chrome, Mozilla Firefox, Apple Safari, Opera) und funktioniert zuverlässig auf den meisten modernen
    mobilen Betriebssystemen, einschließlich Android 2.2+ und iOS 4.2+ (iPhone, iPad, iPod). Wir verwenden die Google
    Fonts also, damit wir unser gesamtes Online-Service so schön und einheitlich wie möglich darstellen können.</p>
  <h3 class="adsimple-111466998">Welche Daten werden von Google gespeichert?</h3>
  <p>Wenn Sie unsere Webseite besuchen, werden die Schriften über einen Google-Server nachgeladen. Durch diesen externen
    Aufruf werden Daten an die Google-Server übermittelt. So erkennt Google auch, dass Sie bzw. Ihre IP-Adresse unsere
    Webseite besucht. Die Google Fonts API wurde entwickelt, um Verwendung, Speicherung und Erfassung von Endnutzerdaten
    auf das zu reduzieren, was für eine ordentliche Bereitstellung von Schriften nötig ist. API steht übrigens für
    „Application Programming Interface“ und dient unter anderem als Datenübermittler im Softwarebereich.</p>
  <p>Google Fonts speichert CSS- und Schrift-Anfragen sicher bei Google und ist somit geschützt. Durch die gesammelten
    Nutzungszahlen kann Google feststellen, wie gut die einzelnen Schriften ankommen. Die Ergebnisse veröffentlicht
    Google auf internen Analyseseiten, wie beispielsweise Google Analytics. Zudem verwendet Google auch Daten des
    eigenen Web-Crawlers, um festzustellen, welche Webseiten Google-Schriften verwenden. Diese Daten werden in der
    BigQuery-Datenbank von Google Fonts veröffentlicht. Unternehmer und Entwickler nützen das
    Google-Webservice BigQuery, um große Datenmengen untersuchen und bewegen zu können.</p>
  <p>Zu bedenken gilt allerdings noch, dass durch jede Google Font Anfrage auch Informationen wie Spracheinstellungen,
    IP-Adresse, Version des Browsers, Bildschirmauflösung des Browsers und Name des Browsers automatisch an die
    Google-Server übertragen werden. Ob diese Daten auch gespeichert werden, ist nicht klar feststellbar bzw. wird von
    Google nicht eindeutig kommuniziert.</p>
  <h3 class="adsimple-111466998">Wie lange und wo werden die Daten gespeichert?</h3>
  <p>Anfragen für CSS-Assets speichert Google einen Tag lang auf seinen Servern, die hauptsächlich außerhalb der EU
    angesiedelt sind. Das ermöglicht uns, mithilfe eines Google-Stylesheets die Schriftarten zu nutzen. Ein Stylesheet
    ist eine Formatvorlage, über die man einfach und schnell z.B. das Design bzw. die Schriftart einer Webseite ändern
    kann.</p>
  <p>Die Font-Dateien werden bei Google ein Jahr gespeichert. Google verfolgt damit das Ziel, die Ladezeit von Webseiten
    grundsätzlich zu verbessern. Wenn Millionen von Webseiten auf die gleichen Schriften verweisen, werden sie nach dem
    ersten Besuch zwischengespeichert und erscheinen sofort auf allen anderen später besuchten Webseiten wieder.
    Manchmal aktualisiert Google Schriftdateien, um die Dateigröße zu reduzieren, die Abdeckung von Sprache zu erhöhen
    und das Design zu verbessern.</p>
  <h3 class="adsimple-111466998">Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?</h3>
  <p>Jene Daten, die Google für einen Tag bzw. ein Jahr speichert können nicht einfach gelöscht werden. Die Daten werden
    beim Seitenaufruf automatisch an Google übermittelt. Um diese Daten vorzeitig löschen zu können, müssen Sie den
    Google-Support auf
    <a class="adsimple-111466998" href="https://support.google.com/?hl=de&tid=111466998">https://support.google.com/?hl=de&tid=111466998</a>
    kontaktieren. Datenspeicherung verhindern Sie in diesem Fall nur, wenn Sie unsere Seite nicht besuchen.</p>
  <p>Anders als andere Web-Schriften erlaubt uns Google uneingeschränkten Zugriff auf alle Schriftarten. Wir können also
    unlimitiert auf ein Meer an Schriftarten zugreifen und so das Optimum für unsere Webseite rausholen. Mehr zu Google
    Fonts und weiteren Fragen finden Sie auf
    <a class="adsimple-111466998" href="https://developers.google.com/fonts/faq?tid=111466998">https://developers.google.com/fonts/faq?tid=111466998</a>.
    Dort geht zwar Google auf datenschutzrelevante Angelegenheiten ein, doch wirklich detaillierte Informationen über
    Datenspeicherung sind nicht enthalten. Es ist relativ schwierig, von Google wirklich präzise Informationen über
    gespeicherten Daten zu bekommen.</p>
  <p>Welche Daten grundsätzlich von Google erfasst werden und wofür diese Daten verwendet werden, können Sie auch auf
    <a class="adsimple-111466998" href="https://policies.google.com/privacy?hl=de&tid=111466998">https://www.google.com/intl/de/policies/privacy/</a>
    nachlesen.</p>
  <h2 id="cloudflare-datenschutzerklaerung" class="adsimple-111466998">Cloudflare Datenschutzerklärung</h2>
  <p>Wir verwenden auf dieser Webseite Cloudflare der Firma Cloudflare, Inc. (101 Townsend St., San Francisco, CA 94107,
    USA), um unsere Webseite schneller und sicherer zu machen. Dabei verwendet Cloudflare Cookies und verarbeitet
    User-Daten. Cloudflare, Inc. ist eine amerikanische Firma, die ein Content Delivery Network und diverse
    Sicherheitsdienste anbietet. Diese Dienste befinden sich zwischen dem User und unserem Hosting-Anbieter. Was das
    alles genau bedeutet, versuchen wir im Folgenden genauer zu erläutern.</p>
  <h3 class="adsimple-111466998">Was ist Cloudflare?</h3>
  <p>Ein Content Delivery Network (CDN), wie es die Firma Cloudflare bereitstellt, ist nichts anderes als ein Netzwerk
    aus verbundenen Servern. Cloudflare hat auf der ganzen Welt solche Server verteilt, um Webseiten schneller auf Ihren
    Bildschirm zu bringen. Ganz einfach gesagt, legt Cloudflare Kopien unserer Webseite an und platziert sie auf ihren
    eigenen Servern. Wenn Sie jetzt unsere Webseite besuchen, stellt ein System der Lastenverteilung sicher, dass die
    größten Teile unserer Webseite von jenem Server ausgeliefert werden, der Ihnen unsere Webseite am schnellsten
    anzeigen kann. Die Strecke der Datenübertragung zu Ihrem Browser wird durch ein CDN deutlich verkürzt. Somit wird
    Ihnen der Content unserer Webseite durch Cloudflare nicht nur von unserem Hosting-Server geliefert, sondern von
    Servern aus der ganzen Welt. Besonders hilfreich wird der Einsatz von Cloudflare für User aus dem Ausland, da hier
    die Seite von einem Server in der Nähe ausgeliefert werden kann. Neben dem schnellen Ausliefern von Webseiten bietet
    Cloudflare auch diverse Sicherheitsdienste, wie den DDoS-Schutz oder die Web Application Firewall an.</p>
  <h3 class="adsimple-111466998">Warum wir Cloudflare auf unserer Webseite verwenden?</h3>
  <p>Natürlich wollen wir Ihnen mit unserer Webseite das bestmögliche Service bieten. Cloudflare hilft uns dabei, unsere
    Webseite schneller und sicherer zu machen. Cloudflare bietet uns sowohl Web-Optimierungen als auch
    Sicherheitsdienste, wie DDoS-Schutz und Web-Firewall, an. Dazu gehören auch ein
    <a class="adsimple-111466998" href="https://de.wikipedia.org/wiki/Reverse_Proxy" target="_blank" rel="noopener noreferrer">Reverse-Proxy</a>
    und das Content-Verteilungsnetzwerk (CDN). Cloudflare blockiert Bedrohungen und begrenzt missbräuchliche Bots und
    Crawler, die unsere Bandbreite und Serverressourcen verschwenden. Durch das Speichern unserer Webseite auf lokalen
    Datenzentren und das Blockieren von Spam-Software ermöglicht Cloudflare, unsere Bandbreitnutzung etwa um 60% zu
    reduzieren. Das Bereitstellen von Inhalten über ein Datenzentrum in Ihrer Nähe und einiger dort durchgeführten
    Web-Optimierungen reduziert die durchschnittliche Ladezeit einer Webseite etwa um die Hälfte. Durch die Einstellung
    „I´m Under Attack Mode“ („Ich werde angegriffen“-Modus) können laut Cloudflare weitere Angriffe abgeschwächt werden,
    indem eine JavaScript-Rechenaufgabe angezeigt wird, die man lösen muss, bevor ein User auf eine Webseite zugreifen
    kann. Insgesamt wird dadurch unsere Webseite deutlich leistungsstärker und weniger anfällig auf Spam oder andere
    Angriffe.</p>
  <h3 class="adsimple-111466998">Welche Daten werden von Cloudflare gespeichert?</h3>
  <p>Cloudflare leitet im Allgemeinen nur jene Daten weiter, die von Webseitenbetreibern gesteuert werden. Die Inhalte
    werden also nicht von Cloudflare bestimmt, sondern immer vom Webseitenbetreiber selbst. Zudem erfasst Cloudflare
    unter Umständen bestimmte Informationen zur Nutzung unserer Webseite und verarbeitet Daten, die von uns versendet
    werden oder für die Cloudflare entsprechende Anweisungen erhalten hat. In den meisten Fällen erhält Cloudflare Daten
    wie IP-Adresse, Kontakt- und Protokollinfos, Sicherheitsfingerabdrücke und Leistungsdaten für
    Webseiten. Protokolldaten helfen Cloudflare beispielsweise dabei, neue Bedrohungen zu erkennen. So kann Cloudflare
    einen hohen Sicherheitsschutz für unsere Webseite gewährleisten. Cloudflare verarbeitet diese Daten im Rahmen der
    Services unter Einhaltung der geltenden Gesetze. Dazu zählt natürlich auch die Datenschutzgrundverordnung
    (DSGVO).</p>
  <p>Aus Sicherheitsgründen verwendet Cloudflare auch ein Cookie. Das Cookie (__cfduid) wird eingesetzt, um einzelne
    User hinter einer gemeinsam genutzten IP-Adresse zu identifizieren und Sicherheitseinstellungen für jeden einzelnen
    User anzuwenden. Sehr nützlich wird dieses Cookie beispielsweise, wenn Sie unsere Webseite aus einem Lokal benutzen,
    in dem sich eine Reihe infizierter Computer befinden. Wenn aber Ihr Computer vertrauenswürdig ist, können wir dies
    anhand des Cookies erkennen. So können Sie, trotz infizierter PCs in Ihrem Umfeld, ungehindert und sorgenfrei durch
    unsere Webseite surfen. Wichtig zu wissen ist auch noch, dass dieses Cookie keine personenbezogenen Daten speichert.
    Dieses Cookie ist für die Cloudflare-Sicherheitsfunktionen unbedingt erforderlich und kann nicht deaktiviert
    werden.</p>
  <h3 class="adsimple-111466998">Cookies von Cloudflare</h3>
  <p>
    <strong class="adsimple-111466998">Name:</strong> __cfduid<br/>
    <strong class="adsimple-111466998">Wert:</strong> d798bf7df9c1ad5b7583eda5cc5e78111466998-3<br/>
    <strong class="adsimple-111466998">Verwendungszweck:</strong> Sicherheitseinstellungen für jeden einzelnen
    Besucher<br/>
    <strong class="adsimple-111466998">Ablaufdatum:</strong> nach einem Jahr</p>
  <p>Cloudflare arbeitet auch mit Drittanbietern zusammen. Diese dürfen personenbezogene Daten nur unter Anweisung der
    Firma Cloudflare und in Übereinstimmung mit den Datenschutzrichtlinien und anderer Vertraulichkeits- und
    Sicherheitsmaßnahmen verarbeiten. Ohne explizite Einwilligung von uns gibt Cloudflare keine personenbezogenen Daten
    weiter.</p>
  <h3 class="adsimple-111466998">Wie lange und wo werden die Daten gespeichert?</h3>
  <p>Cloudflare speichert Ihre Informationen hauptsächlich in den USA und im Europäischen Wirtschaftsraum. Cloudflare
    kann die oben beschriebenen Informationen aus der ganzen Welt übertragen und darauf zugreifen. Im Allgemeinen
    speichert Cloudflare Daten auf User-Ebene für Domains in den Versionen Free, Pro und Business für weniger als 24
    Stunden. Für Enterprise Domains, die Cloudflare Logs (früher Enterprise LogShare oder ELS) aktiviert haben, können
    die Daten bis zu 7 Tage gespeichert werden. Wenn allerdings IP-Adressen bei Cloudflare Sicherheitswarnungen
    auslösen, kann es zu Ausnahmen der oben angeführten Speicherungsdauer kommen.</p>
  <h3 class="adsimple-111466998">Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?</h3>
  <p>Cloudflare bewahrt Daten-Protokolle nur solange wie nötig auf und diese Daten werden auch in den meisten Fällen
    innerhalb von 24 Stunden wieder gelöscht. Cloudflare speichert auch keine personenbezogenen Daten, wie
    beispielsweise Ihre IP-Adresse. Es gibt allerdings Informationen, die Cloudflare als Teil seiner permanenten
    Protokolle auf unbestimmte Zeit speichert, um so die Gesamtleistung von Cloudflare Resolver zu verbessern und
    etwaige Sicherheitsrisiken zu erkennen. Welche permanenten Protokolle genau gespeichert werden, können Sie auf
    <a class="adsimple-111466998" href="https://www.cloudflare.com/application/privacypolicy/">https://www.cloudflare.com/application/privacypolicy/</a>
    nachlesen. Alle Daten, die Cloudflare sammelt (temporär oder permanent), werden von allen personenbezogenen Daten
    bereinigt. Alle permanenten Protokolle werden zudem von Cloudflare anonymisiert.</p>
  <p>Cloudflare geht in ihrer Datenschutzerklärung darauf ein, dass sie für die Inhalte, die sie erhalten nicht
    verantwortlich sind. Wenn Sie beispielsweise bei Cloudflare anfragen, ob sie Ihre Inhalte aktualisieren oder löschen
    können, verweist Cloudflare grundsätzlich auf uns als Webseitenbetreiber. Sie können auch die gesamte Erfassung und
    Verarbeitung Ihrer Daten durch Cloudflare komplett unterbinden, indem Sie die Ausführung von Script-Code in Ihrem
    Browser deaktivieren oder einen Script-Blocker in Ihren Browser einbinden.</p>
  <p>Cloudflare ist aktiver Teilnehmer beim EU-U.S. Privacy Shield Framework, wodurch der korrekte und sichere
    Datentransfer persönlicher Daten geregelt wird. Mehr Informationen dazu finden Sie auf
    <a class="adsimple-111466998" href="https://www.privacyshield.gov/participant?id=a2zt0000000GnZKAA0&tid=111466998" target="_blank" rel="noopener noreferrer">https://www.privacyshield.gov/participant?id=a2zt0000000GnZKAA0</a>.<br/>
    Mehr Informationen zum Datenschutz bei Cloudflare finden Sie auf
    <a class="adsimple-111466998" href="https://www.cloudflare.com/de-de/privacypolicy/?tid=111466998" target="_blank" rel="noopener noreferrer">https://www.cloudflare.com/de-de/privacypolicy/</a>
  </p>
  <h2 id="jquery-cdn-datenschutzerklaerung" class="adsimple-111466998">jQuery CDN Datenschutzerklärung</h2>
  <p>Um Ihnen unsere Website bzw. all unsere einzelnen Unterseiten (Webseiten) auf unterschiedlichen Geräten schnell und
    problemlos auszuliefern, nutzen wir Dienste von jQuery CDN des Unternehmens jQuery Foundation. jQuery wird über das
    Content Delivery Network (CDN) des amerikanischen Software-Unternehmens StackPath (LCC 2012 McKinney Ave. Suite
    1100, Dallas, TX 75201, USA) verteilt. Durch diesen Dienst werden personenbezogene Daten von Ihnen gespeichert,
    verwaltet und verarbeitet.</p>
  <p>Ein Content Delivery Network (CDN) ist ein Netzwerk regional verteilter Server, die über das Internet miteinander
    verbunden sind. Durch dieses Netzwerk können Inhalte, speziell sehr große Dateien, auch bei großen Lastspitzen
    schnell ausgeliefert werden.</p>
  <p>jQuery nutzt JavaScript-Bibliotheken, um unsere Website-Inhalte zügig ausliefern zu können. Dafür lädt ein
    CDN-Server die nötigen Dateien. Sobald eine Verbindung zum CDN-Server aufgebaut ist, wird Ihre IP-Adresse erfasst
    und gespeichert. Das geschieht nur, wenn diese Daten nicht schon durch einen vergangenen Websitebesuch in Ihrem
    Browser gespeichert sind.</p>
  <p>In den Datenschutz-Richtlinien von StackPath wird ausdrücklich erwähnt, dass StackPath aggregierte und
    anonymisierte Daten von diversen Diensten (wie eben auch jQuery) für die Erweiterung der Sicherheit und für eigene
    Dienste benutzen. Diese Daten können Sie als Person allerdings nicht identifizieren.</p>
  <p>Wenn Sie nicht wollen, dass es zu dieser Datenübertragung kommt, haben Sie immer auch die Möglichkeit
    Java-Scriptblocker wie beispielsweise
    <a class="adsimple-111466998" href="https://www.ghostery.com/de/" target="_blank" rel="follow noopener noreferrer">ghostery.com</a>
    oder
    <a class="adsimple-111466998" href="https://noscript.net/" target="_blank" rel="follow noopener noreferrer">noscript.net</a>
    zu installieren. Sie können aber auch einfach in Ihrem Browser die Ausführung von JavaScript-Codes deaktivieren.
    Wenn Sie sich für die Deaktivierung von JavaScript-Codes entscheiden, verändern sich auch die gewohnten Funktionen.
    So wird beispielsweise eine Website nicht mehr so schnell geladen.</p>
  <p>StackPath ist aktiver Teilnehmer beim EU-U.S. Privacy Shield Framework, wodurch der korrekte und sichere
    Datentransfer persönlicher Daten geregelt wird. Mehr Informationen dazu finden Sie auf
    <a class="adsimple-111466998" href="https://www.privacyshield.gov/participant?id=a2zt0000000CbahAAC&status=Active" target="_blank" rel="follow noopener noreferrer">https://www.privacyshield.gov/participant?id=a2zt0000000CbahAAC&status=Active</a>.<br/>
    Mehr Informationen zum Datenschutz bei StackPath finden Sie unter
    <a class="adsimple-111466998" href="https://www.stackpath.com/legal/privacy-statement/?tid=111466998" target="_blank" rel="noopener noreferrer">https://www.stackpath.com/legal/privacy-statement/</a>
    und zu jQuery unter
    <a class="adsimple-111466998" href="https://openjsf.org/wp-content/uploads/sites/84/2019/11/OpenJS-Foundation-Privacy-Policy-2019-11-15.pdf" target="_blank" rel="follow noopener noreferrer">https://openjsf.org/wp-content/uploads/sites/84/2019/11/OpenJS-Foundation-Privacy-Policy-2019-11-15.pdf</a>.
  </p>
  <h2 id="bootstrapcdn-datenschutzerklaerung" class="adsimple-111466998">BootstrapCDN Datenschutzerklärung</h2>
  <p>Um Ihnen all unsere einzelnen Webseiten (Unterseiten unserer Website) auf allen Geräten schnell und sicher
    ausliefern zu können, nutzen wir das Content Delivery Network (CDN) BootstrapCDN des amerikanischen
    Software-Unternehmens StackPath, LLC 2012 McKinney Ave. Suite 1100, Dallas, TX 75201, USA.</p>
  <p>Ein Content Delivery Network (CDN) ist ein Netzwerk regional verteilter Server, die über das Internet miteinander
    verbunden sind. Durch dieses Netzwerk können Inhalte, speziell sehr große Dateien, auch bei großen Lastspitzen
    schnell ausgeliefert werden.</p>
  <p>BootstrapCDN funktioniert so, dass sogenannte JavaScript-Bibliotheken an Ihren Browser ausgeliefert werden. Lädt
    nun Ihr Browser eine Datei vom BootstrapCDN herunter, wird Ihre IP-Adresse während der Verbindung zum
    Bootstrap-CDN-Server an das Unternehmen StockPath übermittelt.</p>
  <p>StackPath erwähnt auch in der hauseigenen Datenschutzerklärung, dass das Unternehmen aggregierte und anonymisierte
    Daten von diversen Diensten (wie BootstrapCDN) für die Erweiterung der Sicherung und für andere StackPath-Dienste
    und Clients verwenden. All diese Daten können aber keine Person identifizieren.</p>
  <p>Wenn Sie diese Datenübertragung unterbinden wollen, können Sie einen JavaScript-Blocker (siehe beispielsweise
    <a class="adsimple-111466998" href="https://noscript.net/" target="_blank" rel="noopener noreferrer">https://noscript.net/</a>)
    installieren oder in Ihrem Browser die Ausführung von JavaScript-Codes deaktivieren. Bitte beachten Sie aber, dass
    dadurch die Website nicht mehr das gewohnte Service (wie etwa schnelle Ladegeschwindigkeit) bieten kann.</p>
  <p>StackPath ist aktiver Teilnehmer beim EU-U.S. Privacy Shield Framework, wodurch der korrekte und sichere
    Datentransfer persönlicher Daten geregelt wird. Mehr Informationen dazu finden Sie auf
    <a class="adsimple-111466998" href="https://www.privacyshield.gov/participant?id=a2zt0000000CbahAAC&status=Active" target="_blank" rel="follow noopener noreferrer">https://www.privacyshield.gov/participant?id=a2zt0000000CbahAAC&status=Active</a>.<br/>
    Mehr Informationen zum Datenschutz bei StackPath bzw. BootstrapCDN finden Sie auf
    <a class="adsimple-111466998" href="https://www.bootstrapcdn.com/privacy-policy/?tid=111466998" target="_blank" rel="noopener noreferrer">https://www.bootstrapcdn.com/privacy-policy/</a>.
  </p>
  <p style="margin-top:15px">Quelle: Erstellt mit dem Datenschutz Generator von
    <a href="https://www.adsimple.at/online-marketing/" title="AdSimple® Online Marketing und Webdesign" rel="follow noopener noreferrer" target="_blank">AdSimple®
      Online Marketing</a> in Kooperation mit
    <a href="https://www.bauguide.at/" target="_blank" rel="follow noopener noreferrer">bauguide.at</a>
  </p>

  <h1 class="display-3 adsimple-111466998">Privacy Policy</h1>
  <h2>Table of Contents</h2>
  <ul>
    <li>
      <a href="#datenschutz-en">Privacy Policy</a>
    </li>
    <li>
      <a href="#automatische-datenspeicherung-en">Automatic Data Retention</a>
    </li>
    <li>
      <a href="#cookies-en">Cookies</a>
    </li>
    <li>
      <a href="#speicherung-persoenlicher-daten-en">Storage of Personal Data</a>
    </li>
    <li>
      <a href="#rechte-dsgvo-en">Rights in accordance with the General Data Protection Regulation</a>
    </li>
    <li>
      <a href="#auswertung-des-besucherverhaltens-en">Evaluation of Visitor Behaviour</a>
    </li>
    <li>
      <a href="#tls-verschluesselung-https-en">TLS encryption with https</a>
    </li>
    <li>
      <a href="#google-fonts-datenschutzerklaerung-en">Google Fonts Privacy Policy</a>
    </li>
    <li>
      <a href="#cloudflare-datenschutzerklaerung-en">Cloudflare Privacy Policy</a>
    </li>
    <li>
      <a href="#jquery-cdn-datenschutzerklaerung-en">jQuery CDN Privacy Policy</a>
    </li>
    <li>
      <a href="#bootstrapcdn-datenschutzerklaerung-en">BootstrapCDN Privacy Policy</a>
    </li>
  </ul>
  <h2 id="datenschutz-en" class="adsimple-111466998">Privacy Policy</h2>
  <p>We created this Privacy Policy (version 08.11.2020-111466998), to declare which information we collect, how we use
    data and which options the users of our website have, according to the guidelines of the
    <a class="adsimple-111466998" href="https://eur-lex.europa.eu/legal-content/EN/ALL/?uri=celex%3A32016R0679&amp%3Btid= 111466998" target="_blank" rel="noopener">General
      Data Protection Regulation (EU) 2016/679</a>
  </p>
  <p>Unfortunately, these subjects sound rather technical due to their nature, but we have put much effort into
    describing the most important things as simply and clearly as possible.</p>
  <h2 id="automatische-datenspeicherung-en" class="adsimple-111466998">Automatic Data Retention</h2>
  <p>Every time you visit a website nowadays, certain information is automatically created and saved, just as it happens
    on this website.</p>
  <p>Whenever you visit our website such as you are doing right now, our webserver (computer on which this website is
    saved/stored) automatically saves data such as</p>
  <ul class="adsimple-111466998">
    <li class="adsimple-111466998">the address (URL) of the accessed website</li>
    <li class="adsimple-111466998">browser and browser version</li>
    <li class="adsimple-111466998">the used operating system</li>
    <li class="adsimple-111466998">the address (URL) of the previously visited site (referrer URL)</li>
    <li class="adsimple-111466998">the host name and the IP-address of the device the website is accessed from</li>
    <li class="adsimple-111466998">date and time</li>
  </ul>
  <p>in files (webserver-logfiles).</p>
  <p>Generally, webserver-logfiles stay saved for two weeks and then get deleted automatically. We do not pass this
    information to others, but we cannot exclude the possibility that this data will be looked at in case of illegal
    conduct.</p>
  <h2 id="cookies-en" class="adsimple-111466998">Cookies</h2>
  <p>Our website uses HTTP-cookies to store user-specific data.<br/>
    For your better understanding of the following Privacy Policy statement, we will explain to you below what cookies
    are and why they are in use.</p>
  <h3 class="adsimple-111466998">What exactly are cookies?</h3>
  <p>Every time you surf the internet, you use a browser. Common browsers are for example Chrome, Safari, Firefox,
    Internet Explorer and Microsoft Edge. Most websites store small text-files in your browser. These files are called
    cookies.</p>
  <p>What should not be dismissed, is that cookies are very useful little helpers. Nearly all websites use cookies. More
    accurately speaking these are HTTP-cookies, since there are also different cookies for other uses. http-cookies are
    small files which our website stores on your computer. These cookie files are automatically put into the
    cookie-folder, which is like the “brain” of your browser. A cookie consists of a name and a value. Moreover, to
    define a cookie, one or multiple attributes must be specified.</p>
  <p>Cookies save certain parts of your user data, such as e.g. language or personal page settings. When you re-open our
    website, your browser submits these “user specific” information back to our site. Thanks to cookies, our website
    knows who you are and offers you the settings you are familiar to. In some browsers every cookie has its own file,
    in others such as Firefox, all cookies are stored in one single file.</p>
  <p>There are both first-party cookies and third-party coookies. First-party cookies are created directly by our site,
    while third-party cookies are created by partner-websites (e.g. Google Analytics). Every cookie is individual, since
    every cookie stores different data. The expiration time of a cookie also varies – it can be a few minutes, or up to
    a few years. Cookies are no software-programs and contain no computer viruses, trojans or any other malware. Cookies
    also cannot access your PC’s information.</p>
  <p>This is an example of how cookie-files can look:</p>
  <p>
    <strong class="adsimple-111466998">name:</strong> _ga<br/>
    <strong class="adsimple-111466998">value:</strong> GA1.2.1326744211.152111466998-9<br/>
    <strong class="adsimple-111466998">purpose:</strong> differentiation between website visitors<br/>
    <strong class="adsimple-111466998">expiration date:</strong> after 2 years</p>
  <p>A browser should support these minimum sizes:</p>
  <ul class="adsimple-111466998">
    <li class="adsimple-111466998">at least 4096 bytes per cookie</li>
    <li class="adsimple-111466998">at least 50 cookies per domain</li>
    <li class="adsimple-111466998">at least 3000 cookies in total</li>
  </ul>
  <h3 class="adsimple-111466998">Which types of cookies are there?</h3>
  <p>What exact cookies we use, depends on the used services. We will explain this in the following sections of the
    Privacy Policy statement. Firstly, we will briefly focus on the different types of HTTP-cookies.</p>
  <p>There are 4 different types of cookies:</p>
  <p>
    <strong class="adsimple-111466998">Essential Cookies<br/>
    </strong>These cookies are necessary to ensure the basic function of a website. They are needed when a user for
    example puts a product into their shopping cart, then continues surfing on different websites and comes back later
    in order to proceed to the checkout. Even when the user closed their window priorly, these cookies ensure that the
    shopping cart does not get deleted.</p>
  <p>
    <strong class="adsimple-111466998">Purposive Cookies<br/>
    </strong>These cookies collect info about the user behaviour and record if the user potentially receives any error
    messages. Furthermore, these cookies record the website’s loading time as well as its behaviour within different
    browsers.</p>
  <p>
    <strong class="adsimple-111466998">Target-orientated Cookies<br/>
    </strong>These cookies care for an improved user-friendliness. Thus, information such as previously entered
    locations, fonts or data in forms stay saved.</p>
  <p>
    <strong class="adsimple-111466998">Advertising Cookies<br/>
    </strong>These cookies are also known as targeting-Cookies. They serve the purpose of delivering individually
    adapted advertisements to the user. This can be very practical, but also rather annoying.</p>
  <p>Upon your first visit to a website you are usually asked which of these cookie-types you want to accept.
    Furthermore, this decision will of course also be saved in a cookie.</p>
  <h3 class="adsimple-111466998">How can I delete cookies?</h3>
  <p>You yourself take the decision if and how you want to use cookies. Thus, no matter what service or website cookies
    are from, you always have the option to delete, deactivate or only partially allow them. Therefore, you can for
    example block cookies of third parties but allow any other cookies.</p>
  <p>If you want change or delete cookie-settings and would like to determine which cookies have been saved to your
    browser, you can find this info in your browser-settings:</p>
  <p>
    <a class="adsimple-111466998" href="https://support.google.com/chrome/answer/95647?tid=111466998" target="_blank" rel="noopener">
      Chrome: Clear, enable and manage cookies in Chrome </a>
  </p>
  <p>
    <a class="adsimple-111466998" href="https://support.apple.com/en-gb/guide/safari/sfri11471/mac?tid=111466998" target="_blank" rel="noopener">
      Safari: Manage cookies and website data in Safari </a>
  </p>
  <p>
    <a class="adsimple-111466998" href=" https://support.mozilla.org/en-US/kb/clear-cookies-and-site-data-firefox?tid=111466998" target="_blank" rel="noopener">
      Firefox: Clear cookies and site data in Firefox </a>
  </p>
  <p>
    <a class="adsimple-111466998" href=" https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies?tid=111466998" target="_blank" rel="noopener">
      Internet Explorer: Delete and manage cookies </a>
  </p>
  <p>
    <a class="adsimple-111466998" href=" https://support.microsoft.com/en-gb/help/4027947/microsoft-edge-delete-cookies?tid=111466998" target="_blank" rel="noopener">
      Microsoft Edge: Delete cookies in Microsoft Edge </a>
  </p>
  <p>If you generally do not want to allow any cookies at all, you can set up your browser in a way, to notify you
    whenever a potential cookie is about to be set. This gives you the opportunity to manually decide to either permit
    or deny the placement of every single cookie. The settings for this differ from browser to browser. Therefore, it
    might be best for you to search for the instructions in Google. If you are using Chrome, you could for example put
    the search phrase “delete cookies Chrome” or “deactivate cookies Chrome” into Google.</p>
  <h3 class="adsimple-111466998">How is my data protected?</h3>
  <p>There is a “cookie policy” that has been in place since 2009. It states that the storage of cookies requires the
    user’s consent. However, among the countries of the EU, these guidelines are often met with mixed reactions. In
    Austria the guidelines have been implemented in § 96 section 3 of the Telecommunications Act (TKG).</p>
  <p>If you want to learn more about cookies and do not mind technical documentation, we recommend
    <a class="adsimple-111466998" href="https://tools.ietf.org/html/rfc6265" target="_blank" rel="nofollow noopener">https://tools.ietf.org/html/rfc6265</a>,
    the Request for Comments of the Internet Engineering Task Force (IETF) called “HTTP State Management Mechanism”.</p>
  <h2 id="speicherung-persoenlicher-daten-en" class="adsimple-111466998">Storage of Personal Data</h2>
  <p>Any personal data you electronically submit to us on this website, such as your name, email address, home address
    or other personal information you provide via the transmission of a form or via any comments to the blog, are solely
    used for the specified purpose and get stored securely along with the respective submission times and IP-address.
    These data do not get passed on to third parties.</p>
  <p>Therefore, we use personal data for the communication with only those users, who have explicitly requested being
    contacted, as well as for the execution of the services and products offered on this website. We do not pass your
    personal data to others without your approval, but we cannot exclude the possibility this data will be looked at in
    case of illegal conduct.</p>
  <p>If you send us personal data via email – and thus not via this website – we cannot guarantee any safe transmission
    or protection of your data. We recommend you, to never send confidential data via email.</p>
  <h2 id="rechte-dsgvo-en" class="adsimple-111466998">Rights in accordance with the General Data Protection
    Regulation</h2>
  <p>You are granted the following rights in accordance with the provisions of the
    <a class="adsimple-111466998" href="https://gdpr-info.eu/" target="_blank" rel="noopener">GDPR</a> (General Data
    Protection Regulation) and the Austrian
    <a class="adsimple-111466998" href="https://www.ris.bka.gv.at/Dokumente/Erv/ERV_1999_1_165/ERV_1999_1_165.html" target="_blank" rel="noopener">Data
      Protection Act (DSG)</a>:</p>
  <ul class="adsimple-111466998">
    <li class="adsimple-111466998">right to rectification (article 16 GDPR)</li>
    <li class="adsimple-111466998">right to erasure (“right to be forgotten“) (article 17 GDPR)</li>
    <li class="adsimple-111466998">right to restrict processing (article 18 GDPR)</li>
    <li class="adsimple-111466998">righ to notification – notification obligation regarding rectification or erasure of
      personal data or restriction of processing (article 19 GDPR)
    </li>
    <li class="adsimple-111466998">right to data portability (article 20 GDPR)</li>
    <li class="adsimple-111466998">Right to object (article 21 GDPR)</li>
    <li class="adsimple-111466998">right not to be subject to a decision based solely on automated processing –
      including profiling – (article 22 GDPR)
    </li>
  </ul>
  <p>If you think that the processing of your data violates the data protection law, or that your data protection rights
    have been infringed in any other way, you can lodge a complaint with your respective regulatory authority. For
    Austria this is the data protection authority, whose website you can access at
    <a class="adsimple-111466998" href="https://www.data-protection-authority.gv.at/?tid=111466998">https://www.data-protection-authority.gv.at/</a>.
  </p>
  <h2 id="auswertung-des-besucherverhaltens-en" class="adsimple-111466998">Evaluation of Visitor Behaviour</h2>
  <p>In the following Privacy Policy, we will inform you on if and how we evaluate the data of your visit to this
    website. The evaluation is generally made anonymously, and we cannot link to you personally based on your behaviour
    on this website.</p>
  <p>You can find out more about how to disagree with the evaluation of visitor data, in the Privacy Policy below.</p>
  <h2 id="tls-verschluesselung-https-en" class="adsimple-111466998">TLS encryption with https</h2>
  <p>We use https to transfer information on the internet in a tap-proof manner (data protection through technology
    design
    <a class="adsimple-111466998" href="https://eur-lex.europa.eu/legal-content/en/TXT/HTML/?uri=CELEX:32016R0679&from=EN&tid=111466998" target="_blank" rel="noopener">Article
      25 Section 1 GDPR</a>). With the use of TLS (Transport Layer Security), which is an encryption protocol for safe
    data transfer on the internet, we can ensure the protection of confidential information. You can recognise the use
    of this safeguarding tool by the little lock-symbol, which is situated in your browser’s top left corner, as well as
    by the use of the letters https (instead of http) as a part of our web address.</p>
  <h2 id="google-fonts-datenschutzerklaerung-en" class="adsimple-111466998">Google Fonts Privacy Policy</h2>
  <p>On our website we use Google Fonts, from the company Google Inc. (1600 Amphitheatre Parkway Mountain View, CA
    94043, USA).</p>
  <p>To use Google Fonts, you must log in and set up a password. Furthermore, no cookies will be saved in your browser.
    The data (CSS, Fonts) will be requested via the Google domains fonts.googleapis.com and fonts.gstatic.com. According
    to Google, all requests for CSS and fonts are fully separated from any other Google services. If you have a Google
    account, you do not need to worry that your Google account details are transmitted to Google while you use Google
    Fonts. Google records the use of CSS (Cascading Style Sheets) as well as the utilised fonts and stores these data
    securely. We will have a detailed look at how exactly the data storage works.</p>
  <h3 class="adsimple-111466998">What are Google Fonts?</h3>
  <p>Google Fonts (previously Google Web Fonts) is a list of over 800 fonts which
    href=”https://en.wikipedia.org/wiki/Google?tid=111466998”>Google LLC provides its users for free.</p>
  <p>Many of these fonts have been published under the SIL Open Font License license, while others have been published
    under the Apache license. Both are free software licenses.</p>
  <h3 class="adsimple-111466998">Why do we use Google Fonts on our website?</h3>
  <p>With Google Fonts we can use different fonts on our website and do not have to upload them to our own server.
    Google Fonts is an important element which helps to keep the quality of our website high. All Google fonts are
    automatically optimised for the web, which saves data volume and is an advantage especially for the use of mobile
    terminal devices. When you use our website, the low data size provides fast loading times. Moreover, Google Fonts
    are secure Web Fonts. Various image synthesis systems (rendering) can lead to errors in different browsers,
    operating systems and mobile terminal devices. These errors could optically distort parts of texts or entire
    websites. Due to the fast Content Delivery Network (CDN) there are no cross-platform issues with Google Fonts. All
    common browsers (Google Chrome, Mozilla Firefox, Apple Safari, Opera) are supported by Google Fonts, and it reliably
    operates on most modern mobile operating systems, including Android 2.2+ and iOS 4.2+ (iPhone, iPad, iPod). We also
    use Google Fonts for presenting our entire online service as pleasantly and as uniformly as possible.</p>
  <h3 class="adsimple-111466998">Which data is saved by Google?</h3>
  <p>Whenever you visit our website, the fonts are reloaded by a Google server. Through this external cue, data gets
    transferred to Google’s servers. Therefore, this makes Google recognise that you (or your IP-address) is visiting
    our website. The Google Fonts API was developed to reduce the usage, storage and gathering of end user data to the
    minimum needed for the proper depiction of fonts. What is more, API stands for „Application Programming Interface“
    and works as a software data intermediary.</p>
  <p>Google Fonts stores CSS and font requests safely with Google, and therefore it is protected. Using its collected
    usage figures, Google can determine how popular the individual fonts are. Google publishes the results on internal
    analysis pages, such as Google Analytics. Moreover, Google also utilises data of ist own web crawler, in order to
    determine which websites are using Google fonts. This data is published in Google Fonts’ BigQuery database.
    Enterpreneurs and developers use Google’s webservice BigQuery to be able to inspect and move big volumes of
    data.</p>
  <p>One more thing that should be considered, is that every request for Google Fonts automatically transmits
    information such as language preferences, IP address, browser version, as well as the browser’s screen resolution
    and name to Google’s servers. It cannot be clearly identified if this data is saved, as Google has not directly
    declared it.</p>
  <h3 class="adsimple-111466998">How long and where is the data stored?</h3>
  <p>Google saves requests for CSS assets for one day in a tag on their servers, which are primarily located outside of
    the EU. This makes it possible for us to use the fonts by means of a Google stylesheet. With the help of a
    stylesheet, e.g. designs or fonts of a website can get changed swiftly and easily.</p>
  <p>Any font related data is stored with Google for one year. This is because Google’s aim is to fundamentally boost
    websites’ loading times. With millions of websites referring to the same fonts, they are buffered after the first
    visit and instantly reappear on any other websites that are visited thereafter. Sometimes Google updates font files
    to either reduce the data sizes, increase the language coverage or to improve the design.</p>
  <h3 class="adsimple-111466998">How can I delete my data or prevent it being stored?</h3>
  <p>The data Google stores for either a day or a year cannot be deleted easily. Upon opening the page this data is
    automatically transmitted to Google. In order to clear the data ahead of time, you have to contact Google’s support
    at
    <a class="adsimple-111466998" href="https://support.google.com/?hl=en-GB&tid=111466998">https://support.google.com/?hl=en-GB&tid=111466998</a>.
    The only way for you to prevent the retention of your data is by not visiting our website.</p>
  <p>Unlike other web fonts, Google offers us unrestricted access to all its fonts. Thus, we have a vast sea of font
    types at our disposal, which helps us to get the most out of our website. You can find out more answers and
    information on Google Fonts at
    <a class="adsimple-111466998" href="https://developers.google.com/fonts/faq?tid=111466998">https://developers.google.com/fonts/faq?tid=111466998</a>.
    While Google does address relevant elements on data protection at this link, it does not contain any detailed
    information on data retention.<br/>
    It proofs rather difficult to receive any precise information on stored data by Google.</p>
  <p>On
    <a class="adsimple-111466998" href="https://policies.google.com/privacy?hl=de&tid=111466998">https://policies.google.com/privacy?hl=en-GB</a>
    you can read more about what data is generally collected by Google and what this data is used for.</p>
  <h2 id="cloudflare-datenschutzerklaerung-en" class="adsimple-111466998">Cloudflare Privacy Policy</h2>
  <p>We use Cloudflare by the company Cloudflare, Inc. (101 Townsend St., San Francisco, CA 94107, USA) on this website
    to enhance its speed and security. For this, Cloudflare uses cookies and processes user data. Cloudflare, Inc. is an
    American company that offers a content delivery network and various security services. These services take place
    between the user and our hosting provider. In the following, we will try to explain in detail what all this
    means.</p>
  <h3 class="adsimple-111466998">What is Cloudflare?</h3>
  <p>A content delivery network (CDN), as provided by Cloudflare, is nothing more than a network of servers that are
    connected to each other. Cloudflare has deployed servers around the world, which ensure websites can appear on your
    screen faster. Simply put, Cloudflare makes copies of our website and places them on its own servers. Thus, when you
    visit our website, a load distribution system ensures that the main part of our website is delivered by a server
    that can display our website to you as quickly as possible. The CDN significantly shortens the route of the
    transmitted data to your browser. Thus, Cloudflare does not only deliver our website’s content from our hosting
    server, but from servers from all over the world. Cloudflare is particularly helpful for users from abroad, since
    pages can be delivered from a nearby server. In addition to the fast delivery of websites, Cloudflare also offers
    various security services, such as DDoS protection, or the web application firewall.</p>
  <h3 class="adsimple-111466998">Why do we use Cloudflare on our website?</h3>
  <p>Of course, we want our website to offer you the best possible service. Cloudflare helps us make our website faster
    and more secure. Cloudflare offers us web optimisations as well as security services such as DDoS protection and a
    web firewall. Moreover, this includes a
    <a class="adsimple-111466998" href="https://de.wikipedia.org/wiki/Reverse_Proxy" target="_blank" rel="noopener">Reverse-Proxy</a>
    and the content distribution network (CDN). Cloudflare blocks threats and limits abusive bots as well as crawlers
    that waste our bandwidth and server resources. By storing our website in local data centres and blocking spam
    software, Cloudflare enables us to reduce our bandwidth usage by about 60%. Furthermore, the provision of content
    through a data centre near you and certain web optimizations carried out there, cut the average loading time of a
    website in about half. According to Cloudflare, the setting “I’m Under Attack Mode” can be used to mitigate further
    attacks by displaying a JavaScript calculation task that must be solved before a user can access a website. Overall,
    this makes our website significantly more powerful and less susceptible to spam or other attacks.</p>
  <h3 class="adsimple-111466998">What data is stored by Cloudflare?</h3>
  <p>Cloudflare generally only transmits data that is controlled by website operators. Therefore, Cloudflare does not
    determine the content, but the website operator themselves does. Additionally, Cloudflare may collect certain
    information about the use of our website and may process data we send or data which Cloudflare has received certain
    instructions for. Mostly, Cloudflare receives data such as IP addresses, contacts and protocol information, security
    fingerprints and websites’ performance data. Log data for example helps Cloudflare identify new threats. That way,
    Cloudflare can ensure a high level of security for our website. As part of their services, Cloudflare process this
    data in compliance with the applicable laws. Of course, this also includes the compliance with the General Data
    Protection Regulation (GDPR).</p>
  <p>Furthermore, Cloudflare uses a cookie for security reasons. The cookie (__cfduid) is used to identify individual
    users behind a shared IP address, and to apply security settings for each individual user. The cookie is very
    useful, if you e.g. use our website from a restaurant where several infected computers are located. However, if your
    computer is trustworthy, we can recognise that with the cookie. Hence, you will be able to freely and carelessly
    surf our website, despite the infected PCs in your area. Another point that is important to know, is that this
    cookie does not store any personal data. The cookie is essential for Cloudflare’s security functions and cannot be
    deactivated.</p>
  <h3 class="adsimple-111466998">Cookies from Cloudflare</h3>
  <p>
    <strong class="adsimple-111466998">Name:</strong> __cfduid<br/>
    <strong class="adsimple-111466998">Value:</strong> d798bf7df9c1ad5b7583eda5cc5e78111466998-3<br/>
    <strong class="adsimple-111466998">Purpose:</strong> Security settings for each individual visitor<br/>
    <strong class="adsimple-111466998">Expiry date:</strong> after one year</p>
  <p>Cloudflare also works with third parties. They may however only process personal data after the instruction of
    Cloudflare and in accordance with the data protection guidelines and other confidentiality and security measures.
    Without explicit consent from us, Cloudflare will not pass on any personal data.</p>
  <h3 class="adsimple-111466998">How long and where is the data stored?</h3>
  <p>Cloudflare stores your information primarily in the United States and the European Economic Area. Cloudflare can
    transfer and access the information described above, from all over the world. In general, Cloudflare stores domains’
    user-level data with the Free, Pro and Business versions for less than 24 hours. For enterprise domains that have
    activated Cloudflare Logs (previously called Enterprise LogShare or ELS), data can be stored for up to 7 days.
    However, if IP addresses trigger security warnings in Cloudflare, there may be exceptions to the storage period
    mentioned above.</p>
  <h3 class="adsimple-111466998">How can I delete my data or prevent data retention?</h3>
  <p>Cloudflare only keeps data logs for as long as necessary and in most cases deletes the data within 24 hours.
    Cloudflare also does not store any personal data, such as your IP address. However, there is information that
    Cloudflare store indefinitely as part of their permanent logs. This is done to improve the overall performance of
    Cloudflare Resolver and to identify potential security risks. You can find out exactly which permanent logs are
    saved at
    <a class="adsimple-111466998" href="https://developers.cloudflare.com/1.1.1.1/commitment-to-privacy/privacy-policy/privacy-policy/" target="_blank" rel="noopener">https://developers.cloudflare.com/1.1.1.1/commitment-to-privacy/privacy-policy/privacy-policy/</a>.
    All data Cloudflare collects (temporarily or permanently) is cleared of all personal data. Cloudflare also anonymise
    all permanent logs.</p>
  <p>In their privacy policy, Cloudflare state that they are not responsible for the content you receive. For example,
    if you ask Cloudflare whether you can update or delete content, Cloudflare will always refer to us as the website
    operator. You can also completely prevent the collection and processing of your data by Cloudflare, when you
    deactivate the execution of script-code in your browser, or if you integrate a script blocker to your browser.</p>
  <p>Cloudflare is an active participant in the EU-U.S. Privacy Shield Framework, which regulates the correct and secure
    transfer of personal data. You can find more information on this at
    <a class="adsimple-111466998" href="https://www.privacyshield.gov/participant?id=a2zt0000000GnZKAA0&tid=111466998" target="_blank" rel="noopener">https://www.privacyshield.gov/participant?id=a2zt0000000GnZKAA0</a>.<br/>
    You can learn more on Cloudflare’s data protection at
    <a class="adsimple-111466998" href="https://www.cloudflare.com/en-gb/privacypolicy/?tid=111466998" target="_blank" rel="noopener">https://www.cloudflare.com/en-gb/privacypolicy/</a>.
  </p>
  <h2 id="jquery-cdn-datenschutzerklaerung-en" class="adsimple-111466998">jQuery CDN Privacy Policy</h2>
  <p>We use jQuery CDN services by the jQuery Foundation to deliver our website and our subpages to you quickly and
    easily on different devices. jQuery is distributed via the Content Delivery Network (CDN) of the American software
    company StackPath (LCC 2012 McKinney Ave. Suite 1100, Dallas, TX 75201, USA). This service stores, manages and
    processes your personal data.</p>
  <p>A content delivery network (CDN) is a network of regionally distributed servers that are connected to each other
    via the Internet. Through this network content and especially very large files, can be delivered quickly – even in
    peak demand periods.</p>
  <p>jQuery uses JavaScript libraries to be able to deliver our website content quickly. For this, a CDN server loads
    the necessary files. As soon as a connection to the CDN server is established, your IP address is recorded and
    stored. This only happens if the data has not already been saved in your browser during a previous website
    visit.</p>
  <p>StackPath’s privacy policy explicitly mentions that StackPath uses aggregated and anonymised data of various
    services (such as jQuery) for both, security enhancement and its own services. However, it is impossible for you to
    be personally identified with the use of this data.</p>
  <p>If you want to avoid this data transfer, you always have the option to use JavaScript blockers such as
    <a class="adsimple-111466998" href="https://www.ghostery.com/" target="_blank" rel="follow noopener noreferrer">ghostery.com</a>
    or
    <a class="adsimple-111466998" href="https://noscript.net/" target="_blank" rel="follow noopener noreferrer">noscript.net</a>.
    You can also simply deactivate the execution of JavaScript codes in your browser. If you decide to deactivate
    JavaScript codes, the usual functions will also change. For example, websites may no longer load as quickly.</p>
  <p>StackPath is an active participant in the EU-U.S. Privacy Shield Framework, which regulates the correct and secure
    transfer of personal data. You can find more information at
    <a class="adsimple-111466998" href="https://www.privacyshield.gov/participant?id=a2zt0000000CbahAAC&status=Active" target="_blank" rel="follow noopener noreferrer">https://www.privacyshield.gov/participant?id=a2zt0000000CbahAAC&status=Active</a>.<br/>
    Also, you can find more information about StackPath’s data protection at
    <a class="adsimple-111466998" href="https://www.stackpath.com/legal/privacy-statement/?tid=111466998" target="_blank" rel="noopener noreferrer">https://www.stackpath.com/legal/privacy-statement/</a>
    and jQuery’s data protection at
    <a class="adsimple-111466998" href="https://openjsf.org/wp-content/uploads/sites/84/2019/11/OpenJS-Foundation-Privacy-Policy-2019-11-15.pdf" target="_blank" rel="follow noopener noreferrer">https://openjsf.org/wp-content/uploads/sites/84/2019/11/OpenJS-Foundation-Privacy-Policy-2019-11-15.pdf</a>.
  </p>
  <h2 id="bootstrapcdn-datenschutzerklaerung-en" class="adsimple-111466998">BootstrapCDN Privacy Policy</h2>
  <p>In order to be able to deliver all the individual sub-pages of our website to you quickly and securely on all
    devices, we use the Content Delivery Network (CDN) BootstrapCDN of the American software company StackPath, LLC 2012
    McKinney Ave. Suite 1100, Dallas, TX 75201, USA.</p>
  <p>A content delivery network (CDN) is a network of regionally distributed servers that are connected to each other
    via the Internet. Through this network, content – especially very large files, can be delivered quickly, even with
    large peak loads.</p>
  <p>BootstrapCDN enables the delivery of JavaScript libraries to your browser. If your browser then downloads a file of
    the BootstrapCDN, your IP address is transmitted to the company StockPath during the connection with the Bootstrap
    CDN server.</p>
  <p>In their privacy policy, StackPath also mention that the company uses aggregated and anonymised data from various
    services (such as BootstrapCDN). This is done to extend the backup, as well as for other StackPath services and
    clients. However, none of this data can be used to identify any person.</p>
  <p>If you want to prevent this data transmission, you can install a JavaScript blocker (for example at
    <a class="adsimple-111466998" href="https://noscript.net/" target="_blank" rel="noopener noreferrer">https://noscript.net/</a>),
    or deactivate the execution of JavaScript codes in your browser. However, please note that this means that the
    website then can no longer offer its usual services (such as fast loading speeds).</p>
  <p>StackPath is an active participant in the EU-U.S. Privacy Shield Framework, which regulates the correct and secure
    transfer of personal data. More information on this can be found at
    <a class="adsimple-111466998" href="https://www.privacyshield.gov/participant?id=a2zt0000000CbahAAC&status=Active" target="_blank" rel="follow noopener noreferrer">https://www.privacyshield.gov/participant?id=a2zt0000000CbahAAC&status=Active</a>.<br/>
    More information on data protection at StackPath or BootstrapCDN can be found at
    <a class="adsimple-111466998" href="https://www.bootstrapcdn.com/privacy-policy/?tid=111466998" target="_blank" rel="noopener noreferrer">https://www.bootstrapcdn.com/privacy-policy/</a>.
  </p>
  <p style="margin-top:15px;">Source: Created with the Datenschutz Generator by
    <a href="https://www.adsimple.at/online-marketing/" title="AdSimple® Online Marketing and Webdesign" rel="follow" target="_blank">AdSimple®
      Online Marketing</a> in cooperation with
    <a href="https://www.bauguide.at/" target="_blank" rel="follow">bauguide.at</a>
  </p>
</div>