// Place all the styles related to the Account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#settings{
  height: 75vh;
  width: 60%;
  overflow-y: auto;
}

#activity{
  height: 75vh;
  width: 35%;
  overflow-y: auto;
}

.align-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 992px) {
  #settings{
    height: auto;
  }

  #settings .align-bottom-right {
    position: relative;
    float: right;
  }
}