/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body:before{
    display: none;
    visibility: hidden;
}

h4 {
    margin-top: 3px !important;
}

#page-container {
    position: relative;
    min-height: 100%;
}

#content-wrap {
    overflow: auto;
    padding-bottom: 50px;
}

footer {
    position: absolute;
    clear: both;
    margin-top: -100px;
    width: 100%;
}

.footer-copyright {
    background-color: #2e2e2e !important;
    float: left;
}

/*Navbar*/

#nav-logo {
    width: 33%;
}

#nav-main {
    width: 67%;
}

#nav-btns {
    width: 33%;
}

#nav-drop {
    display: none;
}

/*Navbar*/

.bottom-border-purple {
    background-image: linear-gradient(to bottom, #aa66cc, #aa66cc), linear-gradient(to bottom, #ced4da, #ced4da) !important
}

.form-border-purple:focus {
    border-color: #aa66cc !important;
    box-shadow: 0 0 0 0.2rem #aa66cc !important;
    -webkit-box-shadow: 0 1px 0 0 #aa66cc !important;
}

/*Margin Klassen*/

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-rem {
    margin-right: 3rem;
}

/*Margin Klassen*/

/*Custom Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#2e2e2e, #49494c);
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background: #c4c4c4;
    border-radius: 15px;
}

.card, .modal-content {
    border-radius: 15px !important;
}

#bg-img {
    border-radius: 0px !important;
}

@media screen and (max-width: 992px) {
    body, #new-entry-div, #new-entry-menu, #menu, #activity {
        height: auto;
    }

    body:before{
        content: "smartphone";
    }

    .title{
        font-size: 10vw !important;
    }

    * {
        font-size: 3vw;
    }

    footer {
        margin-bottom: -5%;
    }

    #page-container {
        min-height: auto;
    }

    /*Navbar*/
    #nav-logo {
        width: auto;
    }

    #nav-logo img {
        width: 13vw !important;
    }

    #nav-main {
        width: 100%;
    }

    #nav-btns .nav-item {
        display: none;
    }

    #nav-drop {
        display: initial;
    }

    .nav-item, .nav-link {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 5vw;
    }

    /*Navbar*/
    .card {
        width: 95% !important;
        margin-right: 3.3%;
        margin-bottom: 20px;
    }

    #new-file {
        margin-bottom: 75px;
    }

    .modal-dialog {
        max-width: 75% !important;
        min-width: 75% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    /*.mr-5 {*/
    /*    margin-right: 0 !important;*/
    /*}*/
}