:root {
  //--white: white;
  //--gray0: #f8f8f8;
  //--gray1: #3c3c3c;
  //--gray2: #2d2e30;
}

//body {
//  color: var(--text) !important;
//  background: var(--bg) !important;
//  transition: background 500ms ease-in-out, color 1000ms ease-in-out !important;
//}
//
//.btn-group-vertical {
//  background: var(--bg);
//}
//
//.card {
//  background: var(--card) !important;
//}
//
//.modal-header, .modal-body, .modal-footer, a.list-group-item {
//  background: var(--card) !important;
//  color: var(--text) !important;
//}
//
//.sub-card .circle {
//  background: white;
//  color: black !important;
//}
//
//.light {
//  --text: black;
//  --bg: var(--white);
//  --card: var(--white)
//}
//
//.dark {
//  --text: var(--gray0);
//  --bg: var(--gray2);
//  --card: var(--gray1);
//}
