/*Quelle: https://github.com/coliff/dark-mode-switch*/
/*Lizenz: MIT*/
[data-theme="dark"] {
    background-color: #18191a !important;
    color: #eee;
}

[data-theme="dark"] .bg-light {
    background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
    background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
    background-color: #2f3136 !important;
}

[data-theme="dark"] .card {
    background-color: #242526 !important;
}

[data-theme="dark"] .circle {
    background-color: #eee !important;
}

[data-theme="dark"] .purple-text {
    color: #eee !important;
}

[data-theme="dark"] i {
    color: #eee !important;
}

[data-theme="dark"] .modal-content {
    background-color: #242526 !important;
}

[data-theme="dark"] span {
    color: #eee;
}

[data-theme="dark"] input {
    color: #eee;
}

[data-theme="dark"] input:focus {
    color: #eee;
}

[data-theme="dark"] .list-group-item-action {
    color: #eee;
    background-color: #242526 !important;
    transition: none !important;
}

[data-theme="dark"] .list-group-item-action:hover {
    background-color: #454545 !important;
    color: #cdcdcd;
}

[data-theme="dark"] .card-footer:hover {
    background-color: #6b6b6b !important;
}

[data-theme="dark"] .card-footer {
    border-color: #797979 !important;
}

[data-theme="dark"] #button-group:hover {
    background-color: #6b6b6b !important;
}

[data-theme="dark"] #new-file {
    background-color: #2c2c2c !important;
}

[data-theme="dark"] .md-form.md-bg input[type="text"], .md-form.md-bg input[type="password"], .md-form.md-bg input[type="email"], .md-form.md-bg input[type="url"], .md-form.md-bg input[type="time"], .md-form.md-bg input[type="date"], .md-form.md-bg input[type="datetime-local"], .md-form.md-bg input[type="tel"], .md-form.md-bg input[type="number"], .md-form.md-bg input[type="search-md"], .md-form.md-bg input[type="search"] {
    background: #6b6b6b !important;
}

[data-theme="dark"] .md-form.md-bg textarea.md-textarea{
    background: #6b6b6b !important;
    color: #eee;
}

[data-theme="dark"] #commentAddForm * {
    background: #515151 !important;
    color: #eee;
}

[data-theme="dark"] #commentAdd::placeholder{
    background: #515151 !important;
    color: #eee;
}

[data-theme="dark"] i.fas.fa-book.fa-3x.img-fluid.kurs-icon-64 {
    color: black !important;
}

[data-theme="dark"] #chapterFooter div:hover {
    background-color: #6b6b6b !important;
}