<!--Modal Icons-->
<div class="modal fade" id="icons" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">

  <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
  <div class="modal-dialog modal-lg modal-lg modal-dialog-centered" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Hergenommene Icons</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="overflow-y: scroll">
        <p>
          Alle Icons sind von IconFinder, lizenziert durch CC (<a href="https://creativecommons.org/">Creative
          Commons</a>), oder frei für kommerziellen Nutzen
        </p>

        <div class="mt-4">
          <p class="my-0 h4">Mainboard Icon</p>
          <p class="my-0">Autor: Chamestudio Pvt Ltd</p>
          <p class="my-0">Lizenz: CC</p>
          <a href="https://www.iconfinder.com/icons/998234/graphic_motherboard_chip_hardware_device_electronic_card_icon" target="_blank">
            Quelle
          </a>
        </div>

        <div class="mt-4">
          <p class="my-0 h4">CPU Icon</p>
          <p class="my-0">Autor: Dinosoftlab</p>
          <p class="my-0">Lizenz: Frei</p>
          <a href="https://www.iconfinder.com/icons/2318040/chip_cpu_computer_frequency_device_microchip_processor_icon" target="_blank">
            Quelle
          </a>
        </div>

        <div class="mt-4">
          <p class="my-0 h4">RAM Icon</p>
          <p class="my-0">Autor: SATRIO BAGUS PERMADI</p>
          <p class="my-0">Lizenz: CC</p>
          <a href="https://www.iconfinder.com/icons/3524366/ram_shopping_outline_red_icon" target="_blank">
            Quelle
          </a>
        </div>

        <div class="mt-4">
          <p class="my-0 h4">Lüfter Icon</p>
          <p class="my-0">Autor: <a href="https://www.wishforge.games">www.wishforge.games</a></p>
          <p class="my-0">Lizenz: Frei</p>
          <a href="https://www.iconfinder.com/icons/6588907/and_component_computers_fan_hardware_icon" target="_blank">
            Quelle
          </a>
        </div>

        <div class="mt-4">
          <p class="my-0 h4">Stromkabel Icon</p>
          <p class="my-0">Autor: Pixel Bazaar</p>
          <p class="my-0">Lizenz: Frei</p>
          <a href="https://www.iconfinder.com/icons/808501/electricity_electronics_power_supply_power_icon" target="_blank">
            Quelle
          </a>
        </div>

        <div class="mt-4">
          <p class="my-0 h4">Gehäuse Icon</p>
          <p class="my-0">Autor: Alexander Blagochevsky</p>
          <p class="my-0">Lizenz: CC</p>
          <a href="https://www.iconfinder.com/icons/976598/case_appliances_desktop_pc_computer_computer_tower_icon" target="_blank">
            Quelle
          </a>
        </div>

        <div class="mt-4">
          <p class="my-0 h4">SSD Icon</p>
          <p class="my-0">Autor: Dinosoftlab</p>
          <p class="my-0">Lizenz: Frei</p>
          <a href="https://www.iconfinder.com/icons/2318020/storage_server_hardware_device_ssd_data_card_icon" target="_blank">
            Quelle
          </a>
        </div>

        <div class="mt-4">
          <p class="my-0 h4">Grafikkarte Icon</p>
          <p class="my-0">Autor: Chamestudio Pvt Ltd</p>
          <p class="my-0">Lizenz: CC</p>
          <a href="https://www.iconfinder.com/icons/998231/graphic_motherboard_chip_hardware_smps_device_card_icon" target="_blank">
            Quelle
          </a>
        </div>

        <div class="mt-4">
          <p class="my-0 h4">Maus & Tastatur Icon</p>
          <p class="my-0">Autor: Alexander Blagochevsky</p>
          <p class="my-0">Lizenz: CC</p>
          <a href="https://www.iconfinder.com/icons/976603/computer_mouse_accessories_appliances_keyboard_icon" target="_blank">
            Quelle
          </a>
        </div>

        <div class="mt-4">
          <p class="my-0 h4">Windows Icon</p>
          <p class="my-0">Autor: Icon Junction</p>
          <p class="my-0">Lizenz: Frei</p>
          <a href="https://www.iconfinder.com/icons/1269925/windows_windoes_10_microsoft_icon" target="_blank">
            Quelle
          </a>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-purple" data-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>